<main>

    <!-- Bouton d'ajout de projet -->
    <button class="btn-add-project " data-bs-toggle="modal"
    data-bs-target="#formulaireModal" data-bs-whatever=""> Ajouter un projet
        <fa-icon class="faCirclePlus fa-2x" type="button" [icon]="faCirclePlus " ></fa-icon>
    </button>

    <!-- Formulaire modal d'ajout de projet -->
    <form class="modal fade " id="formulaireModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="header-content">
                        <h1 class="modal-title fs-5" id="formulaireModalLabel">Créer un nouveau projet</h1>
                    
                    </div>
                    <hr>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
                        <p>Veuillez remplir ce formulaire pour créer un projet.</p>
                        <div class="mb-3">
                            <label for="nom" class="form-label"><b>Titre du projet</b> </label>
                            <input type="text" id="nom" class="form-control" formControlName="nom"
                                placeholder="Saisir le nom du projet">
                        </div>
                        <div class="mb-3">
                            <label for="objectif" class="form-label"><b>Objecti du projet</b></label>
                            <input type="text" id="objectif" class="form-control" formControlName="objectif"
                                placeholder="Veiller saisir un objectif">
                        </div>
                        <div class="mb-3">
                            <label for="context" class="form-label"><b>Context du projet</b></label>
                            <input type="text" id="context" class="form-control" formControlName="context"
                                placeholder="Mettre dans un context">
                        </div>

                        <div class="row form-date">
                            <div class="col form-dateDebut">
                                <label for="date" class="form-label"><b>Date de début</b></label>
                                <input type="date" id="dateDebut" class="form-control" formControlName="dateDebut">
                            </div>
                            <div class="col form-dateFin">
                                <label for="date" class="form-label"><b>Date de fin</b></label>
                                <input type="date" id="dateFin" class="form-control" formControlName="dateFin">
                            </div>

                        </div>
                        <div class="mb-3">
                            <textarea type="text" id="description" class="form-control" formControlName="description"
                                aria-describedby="aideZoneSaisie">
                            </textarea>
                            <div class="footer-textarea"> Veillez donner une description du projet</div>

                            <label for="status"  class="form-label"><b>Statut</b></label>
                            <div class="custom-select">
                                <select type="statut" class="form-control" formControlName="statut">
                                    <option value="En cours">En cours</option>
                                    <option value="Terminé">Terminé</option>
                                    <option value="À venir">À venir</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn-submit">Ajouter</button>
                    </form>
                </div>

            </div>
        </div>
    </form>
</main>