/* Styles du bouton + d'ajout des projets */
.btn-add-project {

    background-color: #0000FF;
    color: white;
    margin: 8px auto;
    padding: 10px;
    cursor: pointer;
    width: 300px;
    opacity: 0.9;
    display:flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: large;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.212);
    border-radius: 5px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105); 

}

.faCirclePlus.fa-2x {
    color: #ffffff;
    margin: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.faCirclePlus.fa-3x:hover {
    transform: translateX(-5px);
}

/* Styles du formulaire modale */

.modal.fade{
 
}
.modal-content {
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
    background-color: #dddddde1;
}

input[type=text], input[type=date], textarea[type=text] {
    width: 100%;
    padding: 12px 14px;
    margin: 1px 0 5px 0;
    display: inline-block;
    background: #f1f1f1;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
}

input[type=text]:focus, input[type=password]:focus, textarea[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.row.form-date {
    display: flex;
}

.col.form-dateDebut, .col.form-dateFin {
    width: 50%;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 1px;
}

.btn-submit {
    background-color: #0000FF;
    color: white;
    margin: 8px auto;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    display:flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: large;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.212);
    border-radius: 5px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105); 

}

input::placeholder {
  font-family: 'Arial, Helvetica, sans-serif';
}

input[type=date] {
  font-family: 'Arial, Helvetica, sans-serif';
    text-align: center;
    text-transform: uppercase;
}



select[type=statut] {
    width: 100%;
    padding: 12px 14px;
    margin: 1px 0 5px 0;
    display: inline-block;
    background: #f1f1f1;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
}