/*  Styles du contenaire formulaire-inscription */
.formulaire-inscription {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    border: 2px solid #0000FF;
    border-radius: 5px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
    padding: 20px 30px;
    background-color: white;
    height:  100%;
    width:  450px;
}

/*Styles du titre */
h1 {
    color: #003;
    margin-bottom: 1px;
    margin: 5px auto;
    text-align: center;
}

/* Styles des input */
input[type=text], input[type=login], input[type=password], select[type=role] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    width: 100%;
    padding: 12px 14px;
    margin: 1px 0 5px 0;
    display: inline-block;
    background: #f1f1f1;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
}

/* Styles focus: gère la couleur lorsqu'on clique dans le champ input,
Style Outline: supprime les pordures noires des input lors du clic*/
input[type=text]:focus, input[type=login]:focus, input[type=password]:focus, select[type=role]:focus {
    background-color: #ddd;
    outline: none;
}




/* Style de la barre hr */
hr {
    border: 1px solid #948f8f88;
    margin-bottom: 5px;
}

/* Style du bouton inscription */
.btn-inscription {
    background-color: #0000FF;
    color: white;
    margin: 8px auto;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: large;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.212);
    border-radius: 5px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
}
p {
    text-align: center;
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input::placeholder {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Style Créer un nouveau compte et Mot de passe oublié?*/
a.btn-se-connecter, .mdp-oublie {
    background-color: none;
    color: dodgerblue;
    border: none;
    text-decoration: none;
}