/*  Styles du contenaire formulaire-inscription */
.formulaire-inscription {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #0000FF;
    border-radius: 2px;
    padding: 0 30px;
    height: 85vh;
    width: 60vh;
}

/*Styles du titre */
h1 {
    color: #003;
    margin-bottom: 1px;
    margin: 5px auto;
    text-align: center;
}

/* Styles des input */
input[type=text], input[type=login], input[type=password], select[type=role] {
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    border: 1px solid #2c09f32d;
    background: #f1f1f155;
}

/* Styles focus: gère la couleur lorsqu'on clique dans le champ input,
Style Outline: supprime les pordures noires des input lors du clic*/
input[type=text]:focus, input[type=login]:focus, input[type=password]:focus, select[type=role]:focus {
    background-color: #ddd;
    outline: none;
}




/* Style de la barre hr */
hr {
    border: 1px solid #948f8f88;
    margin-bottom: 5px;
}

/* Style du bouton inscription */
.btn-inscription {
    background-color: #0000FF;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
}


/* Style Créer un nouveau compte et Mot de passe oublié?*/
a.btn-se-connecter, .mdp-oublie {
    background-color: none;
    color: dodgerblue;
    border: none;
    text-decoration: none;
}