.mot-de-bienvenu {
    
}
.container-fluid {
    display: flex;
    align-items: right;
    justify-content: right;
    padding: 5px;
    margin: 20px;
    min-height:8vh;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0);
    /* background-color: rgba(255, 255, 255, 0.55); */
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navbar-toggler{
    color: #0000FF;
    border: none;
    width: 15vw;
}
.Logo {
    width: 10%;
}

.collapse.navbar-collapse {
    /* background-color: red; */
    justify-content: right;
    align-items: center;
    padding: 10px;
    
}
.navbar-nav {
    gap: 20px;
    
}

.mon-compte {
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
}

.deconnection {
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
}