
.container-fluid {
    display: flex;
    padding: 5px;
    margin: 10px;
    min-height:8vh;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 1px;
    box-shadow: 0 1px 8px rgba(59, 59, 59, 0.2);
    
}
.navbar-toggler{
    color: #999999;
    border: none;
    width: 15vw;
}
.Logo {
    width: 50px;
}

.collapse.navbar-collapse {

    justify-content: end;
    align-items: center;
    padding: 10px;
    
}
.navbar-nav {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    
}

.mon-compte , 
.deconnection {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #020202;
    text-decoration: none;
    text-transform: uppercase;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
}

