.pleine-page {}

.row {
    width: 100%;

}

/* Styles du mon de bienvenue*/
.mot-de-bienvenu {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.8rem;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    color: #000000;
    margin: 20px;



}

.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styles d'affichage du nom de profile  */
.profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 55, 255, 0.363);
    box-shadow: #000000;
    margin: 25px 10px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
    height: 15vh;
    width: 250px;

}

.fa-userIcon {
    font-size: 30px;
}

.user-nom {
    color: rgb(7, 86, 106);
}

.profile {
    justify-content: center;
    box-shadow: #000000;
    margin: 5px auto;
    padding: 5px;
    min-width: 15vw;
    background-color: rgba(0, 64, 225, 0.135);
}

.btn-historiques {
    width: 250px;
    color: white;
    padding: 5px;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #0000FF;
    border: 1px solid ;
    border-radius: 5px;
    box-shadow: 1px 4px 8px rgba(22, 22, 22, 0.325);
}



.dashboard-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f0f0f0;
}

.contenaire-card {
    height: max-content;
    padding: 10px;
}

.card {
    border: 1px solid #0000002d;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
}

.card-body {
    padding: 10px;
    width: 340px;
}

.form-group {
    background-color: #c8c8c817;
    padding: 5px;
}


.card-title {
    color: #003;
    font-weight: bold;
    font-size: 1.20rem;
    margin-bottom: 1px;
    text-align: center;

}

p.card-text, select.statut {
    padding: 10px;
    background: #f1f1f155;
    margin: 0 2px 1px 0;
    /* border: 1px solid #0000002d;
    border-radius: 2px; */
    font-size: 1rem;
    color: #666;
}

p.card-text:focus {
    background-color: #ddd;
    outline: none;
}

.conteneur-button {
    display: flex;
    margin-bottom: 1px;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.btn-en-savoir-plus {
    width: 100%;
    background-color: #0000FF;
    color: white;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);

}

@media screen and (width:1024px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .col-2 {
        width: 50%;
    }
}


@media screen and (max-width:768px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col-2 {
        width: 50%;

    }

    .btn-historiques {
        padding: 5px;
        font-size: 1.2rem
    }
}