<!-- Bouton d'ajout de projet -->
<button class="button-plus " data-bs-toggle="modal" data-bs-target="#formulaireModal" data-bs-whatever="">
    <fa-icon class="faCirclePlus fa-2x" type="button" [icon]="faCirclePlus "></fa-icon>
</button>

<!-- Formulaire modal d'ajout de projet -->
<div class="modal fade " id="formulaireModal">
    <div class="modal-dialog">
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Créer un nouveau projet</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container-input-textarea">
                    <input type="text" class="all-input" placeholder="Saisier le titre du projet" formControlName="nom" id="nom">
                    <input type="text" class="all-input" placeholder="Saisier l'objectif du projet" formControlName="objectif" id="objectif">
                    <textarea type="text" class="textarea-context" placeholder=" Saisir le context de votre projet"  formControlName="context" id="context"></textarea>
                    <!--  -->
                    <div class="row form-date">
                        <div class="col form-date_debut">
                            <label for="date" class="form-label">Date de début</label>
                            <input type="date" class="date-input" formControlName="date_debut" id="date_debut">
                        </div>
                        <div class="col form-date_fin">
                            <label for="date" class="form-label">Date de fin</label>
                            <input type="date" class="date-input" formControlName="date_fin" id="date_fin">
                        </div>
                    </div>
                    <div class="mb-3">
                        <textarea class="textarea-description" formControlName="description" placeholder=" Décrire votre projet"  id="description"></textarea>
                        <label for="status" class="form-label">Statut du projet</label>
                        <select type="statut" class="select-form" formControlName="statut">
                            <option value="En cours">En cours</option>
                            <option value="Terminé">Terminé</option>
                            <option value="À venir">À venir</option>
                        </select>
                    </div>
                    <button type="submit" class="btn-ajouter">Ajouter</button>
                </div>
            </div>
        </form>
    </div>