<main>
    <button class="button-plus" data-bs-toggle="modal" data-bs-target="#formulaireModal" data-bs-whatever="">
        <fa-icon class="faCirclePlus fa-2x" type="button" [icon]="faCirclePlus "></fa-icon>
    </button>
    <!-- Formulaire modal d'ajout d'utilisateur -->
    <form class="modal fade " id="formulaireModal">
        <div class="modal-dialog">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title"> Créer un utilisateur.</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="container-input-textarea">

                        <input class="all-input" type="text" id="nom" class="form-control" formControlName="nom"
                            placeholder="Saisir le nom et prénom" required>

                        <input class="all-input" type="email" id="email" class="form-control" formControlName="email"
                            placeholder="Veiller saisir l'e-mail" required>

                        <input class="all-input" type="password" id="password" class="form-control"
                            formControlName="password" placeholder="Veiller saisir un mot de passe" required>

                        <input class="all-input" type="password" id="repassword" class="form-control"
                            formControlName="repassword" placeholder="Veiller confirmer le mot de passe" required>

                        <select type="role" id="role" required formControlName="role">
                            <option value="Observateur">Observateur</option>
                            <option value="Membre">Membre</option>
                            <option value="Administrateur">Administrateur</option>
                        </select>

                        <button type="submit" class="btn-ajouter">Ajouter</button>
                    </div>
                </div>
            </form>
        </div>
    </form>
</main>