<form [formGroup]="loginForm" (ngSubmit)=" seConnecter()" *ngIf="!isSignUp">
    <div class="formulaire-connexion">
        <h1>Connection</h1>
        <p> Remplissez le formulaire connection.</p>
        <hr>
        <div class="input-controle">
            <label for="Identifiant"><b>Identifiant</b></label>
            <input formControlName="email" type="text" placeholder="Saisir votre identifiant" name="identifiant"
                id="identifiant" required>


            <label for="psw"><b>Mot de passe</b></label>
            <input formControlName="psw" type="password" placeholder="Saisir votre mot de passe " name="psw"
                id="psw" required>
            <div class=" connexion">
                <a type="button" class="mdp-oublie">Mot de passe oublié?⚠️</a>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn-connexion">Connection</button>
        <div class="guard">
            <img src="assets/secu.jpg" alt="guard">
        </div>
        <p>Vous n'avez pas de compte?
            <a type="button" class="btn-nouveau-compte" (click)="switchToSignUp()">
                ➡️S'inscrire
            </a>
        </p>
    </div>

</form>