/* STYLES DE GRAND ECRAN*/
.authentification {
    background-color: #0d0dff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

/* STYLES D'ECRAN DE TABLETTE */
@media screen and (max-width:1024px) {
    .authentification {
        align-items: center;
        justify-content: center;
    }
}

/* STYLES D'ECRAN DE SMARTPHONE */
@media screen and (max-width:768px) {
    .authentification {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}