.auth-control{
background-color:#000080;
height:100%;
}
img.image-home{
    width: 20vh;
    padding: 5px;
    margin:10px 10px;
    justify-content: left;
}

/* div>fa-icon{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
border: 1px solid white;
} */

div.pmt{
    color: aliceblue;
    text-shadow:
        -1px -1px 0 #002fff,
        1px -1px 0 #002fff,
        -1px 1px 0 #002fff,
        1px 1px 0 #002fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 50px;
    letter-spacing: 1px;
}
div.row{
    /* background-color: rgb(97, 96, 255); */
    /* background-color: rgb(25, 25, 36); */
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 88vh;
    margin: 0 0 auto;

}
div.col{
    /* background-color: rgb(247, 35, 7); */
    min-height: 80vh;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
  
}
