<main class="auth-control">
    <div class="row">
        <!-- Formulaire de connection & inscription-->
        <div class="col">
            <app-connexion *ngIf="!isSignUp"></app-connexion>
            <app-inscription *ngIf="isSignUp"></app-inscription>
        </div>

        <!-- Section image d'accueil page de connexion-->
        <div class="col">
            <!-- <img src={{ImgHome}} class="image-home" alt="image" /> -->
            <!-- <fa-icon [icon]="faCog" spin size="10x" [style.color]="'#8e09be'"></fa-icon> -->
            <!-- <div class="pmt">Project <br> Management <br> Tool</div> -->
        </div>
    </div>
</main>