<!-- Formulaire de d'utilisateur -->
<app-adduserform></app-adduserform>

<!-- Formulaire d'affichage des utilisateurs -->
<div class="pleine-page">
    <div class="card-display-page" *ngIf="!isButton">
        <div class="contenaire-card-display" *ngFor="let user of userList; let i=index " (click)=selectUser(user)
            [class.selected]="user.id === selectedUser?.id">
            <div class="card">
                <div class="card-body-user">
                    <div class="form-group">
                        <h1 class="card-title">{{user.nom}}</h1>
                        <p class="card-text-display">E-mail: {{user.email}}</p>
                        <i>
                            <p class="card-text-display">Rôle: {{user.role}}</p>
                        </i>
                    </div>
                    <div class="conteneur-button">
                        <button type="button" class="btn-modifier-le-user" (click)="isDisplayButton()">
                            Modifier un utilisateur
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Formulaire de modification des utilisateurs -->
    <div class="conteneur-card" *ngIf="selectedUser">
        <div class="conteneur-list-user" >
            <div class="card-edit-user">
                <div *ngIf="isButton">
                    <form class="card-body" (ngSubmit)="updateUser()">
                        <label for="titre" class="card-title"><b>Modifier le projet</b></label>
                        <div class="form-group">
                            <label for="nom">Nom</label>
                        <input id="nom" type="text" [(ngModel)]="selectedUser.nom" name="nom" required>
                        <label for="email">Email</label>
                        <input id="email" type="email" [(ngModel)]="selectedUser.email" name="email" required>
                        <label for="role">Rôle</label>
                        <select class="role" id="role" [(ngModel)]="selectedUser.role" name="role" required>
                            <option value="Observateur">Observateur</option>
                            <option value="Membre">Membre</option>
                            <option value="Administrateur">Administrateur</option>
                        </select>

                        <label for="password">Mot de passe</label>
                        <input id="password" type="password" [(ngModel)]="selectedUser.password" name="password " required>
                        </div>
                        
                        <hr>
                        <div class="conteneur-button">
                            <button type="button" class="btn-maj" (click)="updateUser()">
                                Mettre à jour <fa-icon [icon]="faArrowsRotate" ></fa-icon>
                            </button>
                            <button type="button" class="btn-annuler" (click)="updateUser()">
                                Annuler
                            </button>
                            <button type="button" class="btn-supprimer" (click)="deleteUsers()" >
                                Supprimer
                                <fa-icon [icon]="faTrashCan"></fa-icon>
                            </button>
                        </div>
                    </form>

                </div>

            </div>
        </div>

    </div>
</div>
