<!-- Formulaire de d'utilisateur -->
<app-adduserform></app-adduserform>

<!-- Formulaire d'affichage des utilisateurs -->
<div class="pleine-page">
    <div class="card-display-page" *ngIf="!isButton">
        <div class="contenaire-card-display" *ngFor="let user of userList; let i=index " (click)=selectUser(user)
            [class.selected]="user.id === selectedUser?.id">
            <div class="card">
                <div class="card-body-user">
                    <div class="form-group">
                        <h1 class="card-title">{{user.nom}}</h1>
                        <p class="card-text-display">E-mail: {{user.email}}</p>
                        <i>
                            <p class="card-text-display">Rôle: {{user.role}}</p>
                        </i>
                    </div>
                    <div class="conteneur-button">
                        <button type="button" class="btn-modifier-le-user" (click)="isDisplayButton()">
                            Modifier un utilisateur
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Formulaire de modification des utilisateurs -->
    <div class="container" *ngIf="selectedUser">
        <div class="card-forms" *ngIf="isButton">
            <span class="title">Modifier un utilisateur</span>
            <form class="form" (ngSubmit)="updateUser()">
                <div class="group">
                    <input id="nom" type="text" [(ngModel)]="selectedUser.nom" name="nom" required>
                    <label for="name">Nom</label>
                </div>
                <div class="group">
                    <input id="email" type="email" [(ngModel)]="selectedUser.email" name="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="group">
                    <select class="role" id="role" [(ngModel)]="selectedUser.role" name="role" required>
                        <option value="Observateur">Observateur</option>
                        <option value="Membre">Membre</option>
                        <option value="Administrateur">Administrateur</option>
                    </select>
                    <label for="email">Rôle</label>
                </div>
                <div class="group">
                    <input id="password" type="password" [(ngModel)]="selectedUser.password" name="password " required>
                    <label for="email">Mot de passe</label>
                </div>
                <div class="conteneur-button">
                    <!--  -->
                    <div class="sauvegarder">
                        <div (click)="handleClickUpdateUser()">
                            Sauvegarder <fa-icon [icon]="faArrowsRotate"></fa-icon>
                        </div>
                    </div>
                    <!--  -->
                    <div class="annuler">
                        <div (click)="cancelButton()">
                            Annuler
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="del">
                        <div (click)="handleClickDeleteUsers()">
                            supprimer <fa-icon [icon]="faTrashCan"></fa-icon>
                        </div>
                    </div>
                    <!--  -->
                </div>

            </form>
        </div>
    </div>

</div>