
/* Styles global du formulaire d'affichage */
.pleine-page{
    background-image: url('/assets/projet.png');
    background-size: 45%;
    background-position: center;
    margin: 50px auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-display-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 86vh;
}

.contenaire-card {
    height: max-content;
    padding: 5px;   


}
.conteneur-list-user{
    display: flex;

 
}
.card {
    border: 1px solid #0011ff2d;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    color: black;
    opacity: 95%;
    

}
/* Styles de la largeur et du décalage de la carte */

.card-body-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 1.2rem;
    padding: 10px;
    width: 380px;
    background-color: #0044ff0a;

}

.form-group {
    padding: 10px;
    color: black;
}

.card-title {
    color: #003;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 10px;

}

.contenaire-card-display, i>p.select.statut {
    text-align: justify;
    padding: 10px;
    margin: 0 2px 1px 0;
    font-size: 1rem;
    font-family: 'Arial, Helvetica, sans-serif';
    color: #666;

}

.btn-modifier-le-user {
    width: 100%;
    background-color: #0000ff;
    color: white;
    padding: 5px;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
}

/* Styles global de la carte */

/* Styles de la carte */
.conteneur-list-user{
    margin: 50px auto;
    height: max-content;
}
.card {

    border: 1px solid #0011ff2d;
    border-radius: 2px;
    padding: 5px;
    margin: 5px auto;
    color: black;
    opacity: 95%;
    min-width: 400px;

}

.card-body{
    padding: 1.5rem 1.5rem 0.5rem;
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 1.3rem;
    padding: 5px;
    background-color: #0044ff0a;
    width: 100%;
}


/* Styles du formulaire de modification des users
Style des input et select */
input[type=text], input[type=email], input[type=password],  select.role{
    width: 100%;
    padding: 10px;
    margin: 0 10px 1px 0;
    display: flex;
    border: 1px solid #0000002d;
    border-radius: 2px;
    background: #f1f1f155;
    
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, select.role:focus {
    background-color: #ddd;
    outline: none;
}

select>option{
    padding: 20px;
    text-align: justify;
    margin: 0 2px 1px 0;
    background-color: #fff0f0;
    border: 1px solid #0000002d;
    border-radius: 0px;
}
select>option:hover{
    cursor: pointer;
    background-color: #0000FF;
}

/* Styles des boutons et icones */
.conteneur-button {
    display: flex;
    margin-bottom: 10px;
    padding-top: 10px;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.btn-faTrashCan {
    background-color: red;
    color: white;
    cursor:pointer;
    padding:5px 15px ;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.616);
}

.btn-faArrowsRotate{
    background-color: #0000FF;
    color: white;
    cursor:pointer;
    padding:5px 15px ;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.616);
}

@media screen and (min-width:425px) and (max-width:796px) {
    /* Styles global du formulaire d'affichage */
.pleine-page{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
    margin: 0 auto;
}
    .card-body {
        font-family: 'Arial, Helvetica, sans-serif';
        font-size: 1.3rem;
        padding: 5px;
        width: 100%;
        background-color: #0044ff0a;
    }
}



