
/* Style du bouton d'affichage du modal */
/* From Uiverse.io by felipesntr */ 
button {
    border: 2px solid #0003F3 ;
    background-color: #1000f0c7;
    border-radius: 0.9em;
    cursor: pointer;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
  }
  
  button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
  }
  
  button:hover {
    background-color: #0071e2;
  }



/* Fin du style du bouton d'affichage du modal */

.container{
 
    height: 65vh;
    /* background-color: blue; */
}
.container-input-textarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal.fade{
    padding: 150px 0;

}
.modal-content{
    border: 1px solid rgba(255, 255, 255, 0.171);
    border-radius: 5px;
}
.modal-title{
    text-align:center ;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}.container-taches {
    width: 470px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 0px 0px 3px #484bd1, inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-header {
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-header h1 {
    color: #333;
    font-size: 24px;
  }
  
  .all-input, .input-date, .select-user {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  }
  .input-date{
    width:46%;
  }
  .row.form-date {
    display: flex;
   flex-wrap: wrap;
   gap: 20px;

}

  .btn-creation {
    width: 15wh;
    padding: 10px;
    background-color: #00d42a;
    border: none;
    background:#0003F3;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), inset 0px 1px 3px rgba(255, 255, 255, 0.5);
    transition: background 0.3s ease, transform 0.2s ease;
  }
  .btn-annuler{
    width: 10wh;
    padding: 10px ;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), inset 0px 1px 3px rgba(255, 255, 255, 0.5);
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
  .btn-assignation:hover, .btn-creation:hover {
    background: #2980b9;
    transform: translateY(-2px);
  }.container-input-textarea{
    padding: 10px;
    min-height: 210px;
  }
  .container-btn{
    display: flex;
    margin: 10px 0;
    gap: 20px;
  }