<div class="content">
    <div class="container row">
        <div class="col">
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form class="container-taches"  >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Créer un nouveau projet</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="container-input-textarea">
                                <input type="text" class="all-input" placeholder="Saisir le titre du projet" formControlName="titre" id="titre">
                                <input type="text" class="all-input" placeholder="Saisir l'objectif du projet" formControlName="objectif" id="objectif">
                                <input type="text" class="all-input" placeholder="Saisir le contexte du projet" formControlName="contexte" id="contexte">
                                <div class="row form-date">
                                    <input type="date" id="date_debut" class="all-input" formControlName="date_debut">
                                    <input type="date" id="date_fin" class="all-input" formControlName="date_fin">
                                </div>
                                <textarea class="all-input" formControlName="description" placeholder="Description" id="description"></textarea>
                                <div class="custom-select">
                                    <select type="statut" class="all-input"  formControlName="statut">
                                        <option value="En cours">En cours</option>
                                        <option value="Terminé">Terminé</option>
                                        <option value="À venir">À venir</option>
                                    </select>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn-creation" id="login-button">Crée la tâche</button>
                                <button type="button" class="btn-annuler" data-bs-dismiss="modal">Fermer</button>
                               
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3">
            <!-- From Uiverse.io by felipesntr -->
            <button class="btn-display-modal" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <span>
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                    </svg>
                    Créer une tâche
                </span>
            </button>

        </div>
    </div>


</div>