
:root {
    /* Couleurs principales */

    --primary-color:  #dddde731;
    --secondary-color: #2ecc71;
    /* Polices  principales */
    --police-titre: var(Arial, Helvetica, sans-serif);
    --police-paragraph: var(--police-titre);
}


/* Styles global de la carte */

.card-display-page {
    background-image: url('/assets/projet.png');
    background-color: #dddde731;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 87vh;
    height: 100%;
    margin: 5px;

}

.conteneur-card-display {
    height: max-content;
    padding: 5px;
}

.card {
    border: 1px solid #0011ff2d;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    color: black;
    opacity: 90%;

}


.card-body-display {
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 1.5rem;
    padding: 5px;
    width: 350px;
    background-color: #0044ff0a;

}

.form-group {
    padding: 10px;
    color: black;
}

.card-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #003;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* Styles des texts */
.card-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #161616;
}

.conteneur-card-display, i>p.select.statut {
    padding: .1px;
    /* background: rgba(0, 68, 255, 0.105); */
    margin: 5px 5px 10px;
}



.btn-voir-plus {
    width: 100%;
    background-color: #0000ff;
    color: white;
    padding: 5px;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
}


/* Styles global du formulaire d'affiche des détails d'un projet */

.card-details {
    border: 1px solid #0011ff2d;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    color: black;

}

.conteneur-card-details {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteneur-list-projet {
    margin: 100px auto;
    height: max-content;
}


/* Styles de la largeur et du décalage de la carte */
.card-body-details {
    max-width: 724px;
    width: 100%;
    margin: 5px;
    padding: 30px;
}

.conteneur-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000ff62;

}

img {
    width: 50%;

}

.details-card-title, .context-title, .objectif-title {
    font-size: 1.9em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.context-title, .objectif-title {
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.context, .objectif {
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #777272;
}

.display-description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #353535;
}

hr {
    margin-bottom: 5px;
}

@media screen and (min-width:325px) and (max-width:796px) {
    .card-display-page {
        background-image: url('/assets/projet.png');
        background-size: cover;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 5px;
    }/* Styles de la largeur et du décalage de la carte */
.card-body-details {
    max-width: 400px;
    width: 100%;
    margin: 5px;
    padding: 5px;
}

}