<!-- Formulaire d'affichage de projets -->
<div>

    <div class="card-display-page" *ngIf="!isDisplayButton">
        <div class="conteneur-card-display" *ngFor="let project of projectList" (click)="selectProject(project)"
            [class.selected]="project.id === selectedProject?.id">
            <div class="card">
                <div class="card-body-display">
                    <div class="form-group">
                        <h1 class="card-title">{{project.nom}}</h1>
                        <p class="card-text">{{project.description}}</p>
                        <i>
                            <p class="card-text-display">{{project.statut}}</p>
                        </i>
                    </div>
                    <div class="conteneur-button">
                        <button type="button" class="btn-voir-plus" (click)="cancelButton()">
                            Voir plus...
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="conteneur-card-details  ">
        <div class="conteneur-list-projet" *ngIf="isDisplayButton">
            <div class="card-details">
                <!-- Styles du bouton annuler -->
                <button type="button" class="btn-annuler btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)=" cancelButton() ">
                </button>
                <div *ngIf="selectedProject ">


                    <!-- Formulaire d'affiche des détails d'un projet -->
                    <form class="card-body-details ">
                        <div class="conteneur-image">
                            <!-- <img [src]="selectedProject.image" alt="Image du projet"> -->
                            <img src="assets/projet.png" alt="projet">
                        </div>
                        <div class="form-group">
                            <h1 class="details-card-title">{{selectedProject.nom}}</h1>
                            <p class="display-description">{{selectedProject.description}}</p>
                            <p class="context"> <b class="context-title">Context</b> : {{selectedProject.context}}</p>
                            <p class="objectif">
                                <b class="objectif-title">Objectif</b> : {{selectedProject.objectif}}
                            </p>
                            <hr>
                            <div class="row footer">
                                <div class="col footer">Statut : {{selectedProject.statut}}
                                </div>
                                <div class="col footer"> Date de début : {{selectedProject.date_debut}}
                                </div>
                                <div class="col footer"> Date de fin : {{selectedProject.date_fin}}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>