:root {
    /* Couleurs principales */
    --primary-color: #dddde731;
    --secondary-color: #2ecc71;
    /* Polices  principales */
    --police-titre: var(Arial, Helvetica, sans-serif);
    --police-paragraph: var(--police-titre);
}

/* Styles global de la carte */
.content {

}

.card-display-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 87vh;
    height: 100%;
    margin: 5px;
    top: 0;
}

.conteneur-card-display {
    height: max-content;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid #0011ff2d;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    color: black;
    opacity: 90%;
}

.card-body-display {
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 1.5rem;
    padding: 5px;
    width: 350px;
    /* background-color: #0044ff0a; */
}

.form-group {
    padding: 10px;
    color: black;
}

.card-title {
    color: rgba(32, 32, 32, 0.801);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin: 1px;
}

/* Styles des texts */
.card-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #161616;
}

.conteneur-card-display, i>p.select.statut {
    padding: .1px;
    /* background: rgba(0, 68, 255, 0.105); */
    margin: 5px 5px 10px;
}


/* Styles bouton d'ajout de projet */
.btn-voir-plus {
    width: 200px;
    background-color: #0000FF;
    color: white;
    padding: 10px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
}

/* Styles des boutons et icones */
.conteneur-button {
    display: flex;
    font-size: .8em;
    margin-bottom: 10px;
    padding-top: 10px;
}

.btn-voir-plus svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.btn-voir-plus span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.btn-voir-plus:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.btn-voir-plus:hover span {
    transform: translateX(7px);
}

/* Styles global du formulaire d'affiche des détails d'un projet */

.card-details {
    border: 1px solid #00000007;
    border-radius: 2px;
    padding: 30px;
    color: black;
}

.conteneur-list-projet {
    margin: 100px auto;
    height: max-content;
}


/* Styles de la largeur et du décalage de la carte */
.conteneur-card-details {
    max-width: 724px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border: none;
}

.btn-annuler {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;

}

.conteneur-image {
    background-image: url("/assets/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-card-title, .context-title, .objectif-title {
    font-size: 1.9em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.context-title, .objectif-title, .description-title {
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
}

.context, .objectif {
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;



}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #777272;
}

.display-description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #353535;
}

hr {
    margin-bottom: 5px;
}

@media screen and (min-width:325px) and (max-width:768px) {
    .content {
        background-image: url('/assets/projet.png');
        background-size: cover;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 5px;
    }

    /* Styles de la largeur et du décalage de la carte */
    .card-body-details {
        max-width: 400px;
        width: 100%;
        margin: 5px;
        padding: 5px;
    }

}