<app-modal></app-modal>

<!-- Formulaire d'affichage des projets -->
<div class="pleine-page">
    <div class="card-display-page" *ngIf="!isDisplayCard">
        <div class="contenaire-card" *ngFor="let project of projectList" (click)="selectProject(project)"
            [class.selected]="project.id === selectedProject?.id">
            <div class="card">
                <div class="card-body-project">
                    <div class="form-group">
                        <h1 class="card-title">{{project.nom}}</h1>
                        <p class="card-text-description">{{project.description}}</p>
                        <i>
                            <p class="card-text-status">{{project.statut}}</p>
                        </i>
                    </div>
                    <div class="conteneur-button">
                        <button type="button" class="btn-modifier-le-projet ">
                            Modifier <fa-icon [icon]="faPenToSquare"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container modification" *ngIf="selectedProject " >
        <!-- Formulaire de modification des projets -->
        <form (ngSubmit)="updateProject()" class="formulaire" >
            <label for="titre" class="card-title">Modifier le projet</label>
            <div class="form-group">
                <label for="nom" class="card-nom"><b>Nom du projet</b></label>
                <input type="text" id="nom" [(ngModel)]="selectedProject.nom" name="nom" required />
                <div class="form-date">
                    <div class="col">
                        <label for="dateDebut"><b>Date de début</b></label>
                        <input type="date" id="dateDebut" [(ngModel)]="selectedProject.dateDebut" name="dateDebut"
                            required />
                    </div>
                    <div class="col">
                        <label for="dateFin"><b>Date de fin</b></label>
                        <input type="date" id="dateFin" [(ngModel)]="selectedProject.dateFin" name="dateFin" required />
                    </div>
                </div>
                <label for="context"><b>Contexte</b></label>
                <textarea class="context" [(ngModel)]="selectedProject.context" name="context" required></textarea>
                <label for="objectif"><b>Objectif</b></label>
                <input type="text" id="objectif" [(ngModel)]="selectedProject.objectif" name="objectif" required />
                <label for="description"><b>Description</b></label>
                <textarea class="description" [(ngModel)]="selectedProject.description" name="description"
                    required></textarea>
                <label for="status"><b>Statut</b></label>
                <select class="statut" [(ngModel)]="selectedProject.statut" name="statut">
                    <option value="En cours">En cours</option>
                    <option value="Terminé">Terminé</option>
                    <option value="À venir">À venir</option>
                </select>
            </div>

            <div class="contente-button">
                <!--  -->
                <div class="sauvegarder">
                    <div (click)=" handleUpdateProject()">
                        Sauvegarder <fa-icon [icon]="faArrowsRotate"></fa-icon>
                    </div>
                </div>
                <!--  -->
                <div class="annuler">
                    <div (click)="cancelEdit()">
                        Annuler 
                    </div>
                </div>
                <!--  -->
                <div class="del">
                    <div (click)="handleDeleteProject()">
                        supprimer <fa-icon [icon]="faTrashCan"></fa-icon>
                    </div>
                </div>
                <!--  -->
            </div>

        </form>
    </div>
</div>