.pleine-page {
    background-image: url('/assets/projet.png');
    background-size: 45%;
    background-position: center;
    margin: 50px auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Styles global du formulaire d'affichage */

.card-display-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 60vh;
}

.contenaire-card {
    height: max-content;
    padding: 5px;
}

/* Styles de la carte */
.card {
    border: 1px solid #0011ff2d;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    color: black;
    opacity: 95%;
}

.card-body-project {
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 1.5rem;
    padding: 5px;
    width: 350px;
    background-color: #0044ff0a;
}

.form-group {
    padding: 10px;
    color: black;
}

.card-text-description {
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 1rem;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #161616;
}

.card-title {
    color: #003;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 10px;

}

/* Styles global du formulaire de modification */
.conteneur-card-update {
    background-color: rgb(255, 255, 255);
    border: 1;
    border-radius: 1px;
}

.card-modif-projet {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    padding: 3px;
    border: 1px solid #03030323;
    border-radius: 2px;
    /* box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105); */
    background-color: #f1f1f1;

}

.conteneur-list-projet {
    height: max-content;
    padding: 10px;
    width: 480px;
}



/* Styles de la largeur et du décalage de la carte */
.card-body {
    padding: 5px;
    width: 100%;

}

.card-title {
    color: rgba(0, 0, 51, 0.959);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* Styles dates */
.form-date {
    display: flex;
    gap: 10px;

}

/* Styles des paragraphes, select et input */
input[type=text], input[type=date], select {
    width: 100%;
    padding: 12px 14px;
    margin: 1px 0 5px 0;
    display: inline-block;
    background: #f1f1f1;
    border: 1px solid #7a7a7a;
    border-radius: 3px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);

}

input[type=text] :focus {
    background-color: #ddd;
    outline: none;
}

textarea.description {
    min-height: 20vh;
    width: 100%;
    padding: 12px 14px;
    margin: 1px 0 5px 0;
    display: inline-block;
    background: #f1f1f1;
    border: 1px solid #7a7a7a;
    border-radius: 3px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
}


textarea.context {
    min-height: 5vh;
    width: 100%;
    padding: 12px 14px;
    margin: 1px 0 5px 0;
    display: inline-block;
    background: #f1f1f1;
    border: 1px solid #7a7a7a;
    border-radius: 3px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
}


.form-label {
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}


/* Styles des texts */
.card-text, p {
    font-size: 1rem;
    color: #666;
}




.btn-modifier-le-projet {
    width: 100%;
    background-color: #0000FF;
    color: white;
    /* cursor: none; */
    padding: 5px;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
}

.contente-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;

}

.btn-valider {
    width: 10wh;
    padding: 5px 20px;
    background-color: #00d42a;
    color: white;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
}

.btn-annule {
    background-color: #ffae00;
    color: white;
    cursor: pointer;
    width: 10wh;
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
}

.btn-supprimer {
    width: 10wh;
    padding: 5px 20px;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
}

/* Style pour les écrans de tablettes */
@media screen and (max-width:1024px) {
    .contente-button {
        margin: 0 auto;
    }

    textarea.description {
        min-height: 10vh;
    }
}

/* Style pour les écrans de smartphones */
@media screen and (max-width:768px) {
    .card {
        padding: 0px auto;

    }

    .conteneur-card-update {
        width: auto;

    }
    .conteneur-list-projet {
        height: max-content;
        padding: 5px;
        width: 370px;
      
    }
    /* Styles des paragraphes, select et input */


    /* Styles dates */
    .form-date {
        gap: 5px;

    }

    textarea.description {
        min-height: 10vh;
    }





}