.pleine-page {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Styles global du formulaire d'affichage */
.card-display-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 60vh;
    padding: 100px 0;
}


/* Styles de la card */
.card {
    border: 1px solid #0011ff2d;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    color: black;
    opacity: 95%;
}

.card-body-project {
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 1.5rem;
    padding: 5px;
    width: 350px;
    /* background-color: #0044ff0a; */
}

.form-group {
    padding: 10px;
    color: black;
}

.card-text-description {
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 1rem;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #161616;
}

.card-title {
    color: rgba(101, 101, 102, 0.975);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Styles global du formulaire de modification */
.container.modification {
    margin: 80px;
    background-color: rgb(255, 255, 255);
    height: max-content;
    padding: 5px;
    width: 500px;

}





/* Styles de la largeur et du décalage de la carte */
.formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* padding: 5px; */
}

.card-title {
    color: #003;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 10px;

}

/* Styles dates */
.form-date {
    display: flex;
    gap: 10px;

}

/* Styles des paragraphes, select et input */
input[type=text],select{
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 2px;
    min-width: 450px;
    height: 50px;
}
input[type=date]{
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 35px;
    border-radius: 2px;
    height: 50px;
}
textarea.context {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 2px;
    min-width: 450px;
    height: 100px;
    resize: none;
}


textarea.description {
    border-radius: 2px;
    height: 250px;
    min-width: 450px;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);

}

input:focus, textarea:focus, select:focus {
    border: 1.8px solid #1877f2;
  }


.form-label {
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}


/* Styles des texts */
.card-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    color: #666;
}

.card-text, p {
    font-size: 1rem;
    color: #666;
}

/* Styles bouton d'ajout de projet */
.btn-modifier-le-projet {
    width: 200px;
    background-color: #0000FF;
    font-size: .8em;
    color: white;
    padding: 10px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.105);
}

/* Styles  container des bouton valider, annuler, supprimer */
.contente-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* From Uiverse.io by Peary74 */

/* Bouton sauvegarer */
.sauvegarder {
    position: relative;
    top: 0;
    left: 0;
    width: 140px;
    height: 5vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00d42a;
    color: white;
    cursor: pointer;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
 
}

/* Bouton annuler */
.annuler {
    position: relative;
    top: 0;
    left: 0;
    width: 140px;
    height: 5vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffae00;
    color: white;
    cursor: pointer;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}

/* Bouton supprimer */
.del {
    position: relative;
    top: 0;
    left: 0;
    width: 140px;
    height: 5vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;

}

/* .del div:hover, .annuler div:hover, .sauvegarder div:hover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    letter-spacing: 1px;
    color: #ffffff;
    z-index: 1;
    transition: .6s;
} */

/* Style pour les écrans de tablettes */
@media screen and (max-width:1024px) {
    .contente-button {
        margin: 0 auto;
    }

    textarea.description {
        min-height: 10vh;
    }

    .pleine-page {
        background-size: 100%;
        margin: 5px auto;
    }
}

/* Style pour les écrans de smartphones */
@media screen and (max-width:768px) {
    .card {
        padding: 10px auto;


    }

    .conteneur-card-update {
        margin: 50px auto;
        width: 400px;
        height: 400pxt;
        padding: 5px;

    }

    .btn-valider, .btn-annule, .btn-supprimer {
        font-size: 0.8em;
    }

    /* Styles dates */
    .form-date {
        gap: 5px;
        width: 100%;

    }

    input[type=date] {
        width: 90%;
    }

    textarea.description {
        min-height: 10vh;
    }
}