div.container-footer-haut {

    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    text-align: center;
}

div.container-footer-bas {
    background-color: rgba(0, 0, 0, 0.534);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImgFooter {
    width: 100%;

}