<main class="conteneur-admin row">

        <div class="row">
            <div class="col">
                <h1 class="mot-de-bienvenu">
                    <i>Bienvenu sur votre tableau de bord</i>
                </h1>
            </div>
        </div>
        <div class="row">

            <!-- Boutons lateraux <<d'ajout de projet ou d'utilisateur>> -->
            <div class="col display">

                <app-add-project *ngIf="!isAddProjectOpen"></app-add-project>
                <app-add-user *ngIf="isAddProjectOpen"></app-add-user>
        
            </div>

            <!-- Profil utilisateur -->
            <div class="col-3">
                <div class="col-2 profil">
                    <fa-icon [icon]="faUser" class="fa-userIcon"></fa-icon>
                    <h5 class="user-nom"> {{userNom}}</h5>
            </div>

            <!-- Boutons centraux <<d'ajout de projet ou d'utilisateur>> -->
                <button type="button" class="button-adds" (click)="onClickAddProject()" *ngIf="!isButton">
                    Ajouter un utilisateur
                </button>
                <button type="button" class="button-adds" (click)="onClickAddProject()" *ngIf="isButton">
                    Ajouter un projet
                </button>
                <!-- Boutons lateral <<voir les historiques>> -->
                <button type="button" class="button-adds" (click)="onClickVoirHistorique()">
                    Voir les historiques
                </button>

            </div>
        </div>

</main>